.footer {
  padding: 110px 0 156px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-links {
      display: flex;
      align-items: center;
    }
    a {
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
      color: $black;
      margin-right: 32px;
      opacity: 0.9;
      &:last-child {
        margin: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
// 1380px
@mixin footer-xxxlg-xxxxlg {
  .footer {
    padding: 80px 0 120px;
  }
}
// 1180px
@mixin footer-xlg-xxlg {
  .footer {
    padding: 60px 0 90px;
  }
}
// 930px
@mixin footer-md-lg {
  .footer {
    padding: 50px 0 70px;
    &__inner {
        a {
            margin-right: 20px;
            font-size: 14px;
        }
    }
  }
}
// 540px
@mixin footer-xsm-sm {
  .footer {
    padding: 24px 0 40px;
    &__inner {
        a {
            margin-right: 20px;
            font-size: 12px;
        }
    }
  }
}
// 390px
@mixin footer-xxxsm-xxsm {
  .footer {
    &__inner {
        a {
            margin-right: 10px;
            font-size: 11px;
        }
    }
  }
}
